.item-wrapper {
    zoom: 1;
}

.item-wrapper:after {
    clear: both;
    display: block;
    width: 0;
    height: 0;
    content: '';
    visibility: hidden;
}

.item {
    float: left;
    width: 30%;
    height: 100px;
    background: #aaa;
    margin: 10px;
}

.square1 {
    width: 200px;
    height: 200px;
    background: #aaaaaa;
}

.square2 {
    width: 50%;
    padding-bottom: 50%;
    background: #aaaaaa;
    position: relative;
    font-size: 0;
}

.square2 .son {
    position: absolute;
    width: 10%;
    height: 10%;
    background: #ff8888;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.square3 {
    width: 25%;
    overflow: hidden; /* 必须设置，否则视图会塌陷 */
    background: #ff8888;
}

.square3:after {
    content: '';
    display: block;
    margin-top: 100%;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;
}

.tri-border {
    width: 100px;
    height: 100px;
    border: 50px solid #ddd;
}

.tri-border-real {
    width: 100px;
    height: 100px;
    border-left: 50px solid #f00;
    border-right: 50px solid #0f0;
    border-bottom: 50px solid #00f;
    border-top: 50px solid #000;
}

.tri{
    width: 0px;
    height: 0px;
    border-right: 50px solid transparent;
    border-top: 50px solid #000;
}
